.root {
	height: 72px;
	font-size: 25px;
	background: purple;
	color: aquamarine;
	padding: 20px 88px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 20px;
}

.link, .active {
	margin-right: 40px;
	color: aquamarine;
	text-decoration: none;
}

.active {
	text-decoration: underline;
	color: aquamarine;
}